---
name: actions
url: /actions
---
<div class="grid-block">
  <div id="main" class="grid-block ng-scope vertical">
    <div class="grid-block">
      <div class="grid-content">
        <ul class="dark menu-bar">
          <li><a ui-sref="actions.vpn">Création VPN</a></li>
          <li><a ui-sref="actions.site">Création Site</a></li>
          <li><a ui-sref="actions.app">Création App</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-block">
      <div id="sidebar" class="medium-1 grid-block"></div>
      <div ui-view="" class="medium-10 grid-block">
      </div>
      <div id="sidebar-right" class="medium-1 grid-block"></div>
    </div>
  </div>
</div>

