---
name: actions.site
url: /site
controller: SiteController
---
<div class="grid-content">
  <h1> Création d'un Site</h1>
  <div class="card">
    <div class="card-section">
      <form>
        <label>
          Nom du Client
          <input ng-model="vpn.client_name" type="text" placeholder="Nom du Client">
        </label>
        <label>
          Nom du Site
          <input ng-model="vpn.vrf_name" type="text" placeholder="Lannion">
        </label>
         <label>
          Nom technique du Vpn du Site
          <input ng-model="vpn.vrf_name" type="text" placeholder="VRF Name">
        </label>
        <label>
          Route Target du Vpn du Site
          <input ng-model="vpn.core_rt" type="text" placeholder="65535:301">
        </label>
        <label>
          Subnet du VPN Coeur
          <input ng-model="vpn.core_ip" type="text" placeholder="10.240.255.32/29">
        </label>
    </div>
    <div class="card-divider">
      <input class="button" type="submit" ng-click="update(user)" value="Créer" />
    </div>
      </form>
  </div>
</div>
