---
name: actions.vpn
url: /vpn
controller: VpnController
---
<div class="grid-content">
  <h1> Création d'un VPN</h1>
  <div class="card">
    <div class="card-section">
      <form>
        <label>
          Nom du Client
          <input ng-model="vpn.client_name" type="text" placeholder="Nom du Client">
        </label>
        <label>
          Nom technique du Vpn
          <input ng-model="vpn.vrf_name" type="text" placeholder="VRF Name">
        </label>
        <label>
          Route Target
          <input ng-model="vpn.core_rt" type="text" placeholder="65535:300">
        </label>
        <label>
          Subnet du VPN Coeur
          <input ng-model="vpn.core_ip" type="text" placeholder="10.240.255.0/27">
        </label>
    </div>
    <div class="card-divider">
      <input class="button" type="submit" ng-click="update(vpn)" value="Créer" />
    </div>
      </form>
  </div>
</div>
